@media only screen and (max-width: 768px) {

    /* Navbar */
    .Navbar {
        width: 50rem;
        padding: 0 0 0 2rem;
    }

    .iconmenu i {
        margin: 0 0 0 -16.5rem;
    }

    .Navbar .logo img {
        display: none;
    }

    .Navbar .menu {
        display: none;
    }

    /* Navbar */


    .Crypto-market-title {
        width: 100%;
    }

    .crypto-btn p {
        font-size: 2rem;
    }

    .box-btns1 .ptn {
        padding: 1vh 0.5rem;
    }

    .box-btns2 p {
        font-size: 2rem;
    }

    .box-btns2 .ptn {
        padding: 1vh 1rem;
        text-align: center;
    }


    .cards-NFTs {
        width: 100%;
    }

    .cards-NFTs .NFTCards img {
        width: 100%;
        border-radius: 25px;
    }

    .NFTCards h4 {
        font-size: 2.5rem;
    }

    .market-price {
        padding: 0 2.5rem 0 1rem;
    }

    .market-price .title {
        font-size: 1.4rem;
    }

    .market-price .title-ETH {
        font-size: 2rem;
    }

    .market-price .title-price {
        font-size: 1.2rem;
    }

    .user-profile {
        padding: 0 3.7rem 0 1rem;
    }


    .Exhibition-text-title p {
        padding: 2vh 2rem 0vh 0rem;
        font-size: 1.7rem;
    }

    .exhibition {
        width: 100%;
    }

    .exhibition-image img{
        width: 83%;
        height: 85vh;
        position: absolute;
        border-radius: 20px;
        margin-top: 60vh;
    }

    .texts-categorys .Days{
        margin: 5vh 0rem 1vh 0rem;
    }

    .texts-categorys h3{
        font-size: 2.3rem;
    }

    .category2{
        margin-bottom: 100vh;
    }

    .all-profiles{
        width: 50rem;
    }


    /* Footer */
    .Footer .Footer-box1 .logo img {
        width: 8rem;
        height: 6vh;
    }

    .Footer-box1 {
        width: 15rem;
    }

    .Footer-box1 .texts-title {
        font-size: 0.9rem;
        padding: 0 1rem 0 0;
    }

    .Footer-box2 p {
        font-size: 1rem;
    }

    /* footer */
}



/* talet */
@media only screen and (min-width: 769px) and (max-width: 1023px) {

    /* Navbar */
    .Navbar {
        padding: 0 4rem;
    }

    .menu div {
        font-size: 0.8rem;
        line-height: 4vh;
    }

    div.iconmenu i {
        display: none;
    }

    /* Navbar */


    .Exhibition-text-title p {
        padding: 2vh 15rem 0 0;
        font-size: 1.2rem;
    }

    .exhibition {
        width: 100%;
    }

    .exhibition-image img {
        height: 85vh;
        position: absolute;
        margin-top: 50vh;
    }

    .texts-categorys p {
        margin-bottom: 10vh;
    }

    .category2 {
        margin-left: 33rem;
    }

    .list-userProfiles {
        margin-left: 33rem;
        margin-bottom: 45vh;
    }

    .Footer-box1 {
        width: 20rem;
    }


}

/* pc */
@media only screen and (min-width: 1024px) {
    .Navbar {
        padding: 0 2rem;
    }

    div.iconmenu i {
        display: none;
    }
}