@media only screen and (max-width: 768px) {

    /* Navbar */
    .Navbar {
        width: 50rem;
        padding: 0 0 0 2rem;
    }

    .iconmenu i {
        margin: 0 0 0 -16.5rem;
    }

    .Navbar .logo img {
        display: none;
    }

    .Navbar .menu {
        display: none;
    }

    /* Navbar */


    .cards-NFTs {
        width: 100%;
    }


    .NFTCards button {
        width: 100%;
    }


    .cards-NFTs-article1 {
        width: 40rem;
        height: 150vh;
    }

    

    .cards-NFTs-article1 .NFTCards .image img {
        width: 38rem;
        border-radius: 25px;
    }

    .NFT-title-name2 {
        width: 40rem;
    }


    .title-content {
        font-size: 1.4rem;
        margin-top: 2vh;
    }

    .cards-NFTs-article2 {
        width: 100%;
    }

    .cards-NFTs-article2 img {
        width: 100%;
        border-radius: 20px;
    }


    .NFT-title-name3 {
        width: 100%;
    }

    .New-cryptoArt-cards .cards-NFTs .image img{
        width: 100%;
    }




    /* Footer */
    .Footer .Footer-box1 .logo img {
        width: 8rem;
        height: 6vh;
    }

    .Footer-box1 {
        width: 15rem;
    }

    .Footer-box1 .texts-title {
        font-size: 0.9rem;
        padding: 0 1rem 0 0;
    }

    .Footer-box2 p {
        font-size: 1rem;
    }

    /* footer */
}



/* talet */
@media only screen and (min-width: 769px) and (max-width: 1023px) {

    /* Navbar */
    .Navbar {
        padding: 0 4rem;
    }

    .menu div {
        font-size: 0.8rem;
        line-height: 4vh;
    }

    div.iconmenu i {
        display: none;
    }

    /* Navbar */


    .cards-NFTs {
        width: 27rem;
        margin-right: 1.2rem;
        margin-bottom: 3vh;
    }

    .cards-NFTs .NFTCards img {
        width: 100%;
    }

    .NFTCards button {
        width: 100%;
    }

    .profiles .img-user img {
        width: 2rem;
        height: 5vh;
    }

    .New-cryptoArt-cards .cards-NFTs .image img{
        width: 100%;
    }


    /* .cards-NFTs .NFTCards img {
        width: 100%;
        border-radius: 20px;
    } */

    .NFTCards button {
        width: 100%;
    }


    .cards-NFTs-article1 {
        width: 60rem;
        height: 140vh;
    }


    .cards-NFTs-article1 .NFTCards .image img {
        width: 100%;
        border-radius: 25px;
    }

    .NFT-title-name2 {
        width: 50rem;
    }


    .title-content {
        font-size: 1.4rem;
        margin-top: 2vh;
    }

    .cards-NFTs-article2 {
        width: 48%;
        margin: 3vh 1.1rem 0 0;
    }

    .cards-NFTs-article2 img {
        width: 100%;
        border-radius: 20px;
    }


    .NFT-title-name3 {
        width: 100%;
    }



    .Footer-box1 {
        width: 20rem;
    }


}

/* pc */
@media only screen and (min-width: 1024px) {
    .Navbar {
        padding: 0 2rem;
    }

    div.iconmenu i {
        display: none;
    }
}